.blog_list{
  margin-top: 30px;
  .blog_item{
    float: left;
    width: 350px;
    margin-left: 30px;
    margin-bottom: 30px;
    @media ($computer) {
      &:nth-child(3n+1) {
        clear: both;
        margin-left: 0;
      }
    }
    @media ($tablet) {
      width: 339px;
      &:nth-child(2n+1){
        clear: both;
        margin-left: 0;
      }
    }
    @media ($phone) {
      width: 100%;
      clear: both;
      margin-left: 0;
    }

    &:hover .image{
      transform: scale(1.1);
    }
    .image{
      display: block;
      max-width: 100%;
      height: 250px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
      margin-bottom: 20px;
      transition: all 0.3s ease-out 0s;
      @media ($phone){
        height: 180px;
      }
    }
    .title{
      display: block;
      margin-bottom: 10px;
    }
  }
  .clear{
    display: block;
    clear: both;
  }
}
.blog_date{
  display: block;
  font-size: 1rem;
  color: $gray3;
}
.blog_detail{
  margin-top: 3rem;
  img{
    max-width: 300px;
    max-height: 200px;
    float: left;
    margin: 0 20px 20px 0;
    @media ($phone) {
      max-width: 100%;
      margin: 0 0 20px 0;
    }
  }
  p{
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-bottom: 10px;
    text-align: justify;
  }
}