.catalog{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%  ;

  .right_part,
  .left_part{
    width: 50%;
    box-sizing: border-box;
    @media ($tablet) {
      width: 100%;
    }
  }
  .left_part{
    padding-right: 30px;
    .sub_title{
      font-size: 1.8rem;
      line-height: 2.2rem;
      margin-bottom: 3rem;
    }
  }
  .right_part{
    padding-left: 30px;
    @media ($tablet) {
      display: none;
    }
  }
}