.contacts_list{

  > div{
    float: left;
  }
  &::after{
    content: '';
    display: block;
    clear: both;
  }
  %common_width{
    max-width: 50%;
    padding-right: 30px;
    box-sizing: border-box;
    @media ($tablet) {
      max-width: 100%;
      padding-right: 0;
    }
  }
  .main_contacts{
    @extend %common_width;
    p{
      font-size: 1.8rem;
      line-height: 2.2rem;
      margin-bottom: 2rem;
    }
  }
  >.map{
    float: right;

    @media ($tablet) {
      width: 100%;
      margin-bottom: 3rem;
    }
    >.map_image{
      background-color: #333333;
      height: 400px;
      width: 500px;
      @media ($tablet) {
        width: 100%;
      }
      @media ($phone) {
        height: 290px;
      }
    }
  }
  >.contact_hot_line{
    @extend %common_width;
    p{
      font-size: 1.2rem;
      line-height: 1.6rem;
    }
  }
}