footer{
  .menu{
    display: flex;
    justify-content: space-between;
    @media ($tablet) {
      justify-content: flex-start;
    }
    >div{
      @extend %footer_section_column
    }

    .mobi{
      @media ($tablet) {
        width: initial !important;
      }
    }
  }
  .sub_menu{
    display: flex;
    justify-content: space-between;
    div{
      @extend %footer_section_column
    }
    .services{

      a{
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 1.4rem;
        margin-bottom: 10px;
        position: relative;
        &::before{
          content: '';
          display: inline-block;
          background-color: $black;
          position: absolute;
          left: 0;
          bottom: 0px;
          height: 1px;
          width: 0%;
          transition: all 0.2s ease-out;
        }
        &:hover{

          &::before{
            width: 100%;
          }
        }
      }
    }
    .contacts{
      a,
      p{
        font-size: 1.4rem;
        margin-bottom: 10px;
        display: block;
      }
    }
  }

  .mobi{
    @media ($tablet) {
      display: inline-block !important;
      width: 100% !important;
    }
  }
}

%footer_section_column{
  width: 25%;
  box-sizing: border-box;
  padding-right: 30px;
  @media ($tablet) {
    display: none;
  }
}