header{
  background-color: $gray2;
  height: 80px;
  .container_section{
    display: flex;
    justify-content: space-between;
    padding: 0 !important;
    position: relative;
    @media ($tablet) {
      justify-content: center;
    }
  }
  @media ($tablet) {
    height: 60px;
  }
  .logo{
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    height: 100%;
    display: inline-block;
    width: 100px;
    @media ($tablet) {
      width: 80px;
    }
  }
  menu{
    display: inline-block;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    li{
      display: flex;
      align-items: center;
      font-family: "Century Gothic";
      font-weight: bold;
      font-size: 1.6rem;
      background-color: $yellow_rgba_hide;
      transition: all 0.3s ease-out 0s;
      height: 100%;
      &:hover{
        background-color: $yellow_rgba;
      }
      a{
        width: 100%;
        padding: 30px 20px;
        color: #000000 !important;
      }
    }
    @media ($tablet) {
      display: none;
    }
  }
  .search{
    display: flex;
    align-items: center;
    position: relative;
    a{
      display: inline-block;
      background-image: url(../images/search_ico.png);
      background-repeat: no-repeat;
      background-position: 50%;
      width: 35px;
      height: 35px;
      background-size: contain;
    }
    .input_search_area{
      position: absolute;
      right: 100%;
      height: 100%;
      background-color: $yellow2;
      box-sizing: border-box;
      padding: 20px 0px;
      width: 0;
      overflow: hidden;
      transition: all 0.3s ease-out;
      &.show{
        width: 838px;
        padding: 20px 30px;
      }
      input{
        width: 100%;
        font-size: 1.8rem;
        padding: 10px 20px;
        box-sizing: border-box;
        position: relative;
      }
    }
    @media ($tablet) {
      display: none;
    }
  }
  .phone{
    display: flex;
    align-items: center;
    span{
      font-family: $text;
      font-weight: bold;
      font-size: 1.6rem;
    }
    @media ($tablet) {
      display: none;
    }
  }
  .mobi_menu{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 30px;
    height: 100%;
    box-sizing: border-box;
    padding: 18px 0;
    cursor: pointer;
    @media ($phone) {
      left: 15px;
    }
    span{
      display: inline-block;
      background-color: #000;
      height: 4px;
      width: 30px;
      border-radius: 4px
    }
    @media ($tablet) {
      display: flex;
    }
  }
}