.track_box{
  @extend %yellow2_box;
  form{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    @media ($tablet) {
      flex-direction: column;
    }
    input{
      width: 400px;
      font-size: 1.8rem;
      border-radius: 40px;
      padding: 10px 30px;
      box-sizing: border-box;
      @media ($tablet) {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
}
.lead_box{
  @extend %yellow2_box;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 1000px;
  @media ($tablet) {
    width: 100%;
  }
  @media ($phone) {
    flex-direction: column;
  }

  .lead_info{
    width: calc(100% - 230px);
    box-sizing: border-box;
    padding: 30px;
    @media ($phone){
      width: 100%;
      padding: 15px;
    }
    .title{
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    .lead_number{
      font-size: 1.8rem;
      border-radius: 40px;
      padding: 10px 30px;
      background-color: white;
      margin: 0 50px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      @media ($phone){
        margin: 0;
      }
    }
    .order{
      text-align: center;
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
    .dates{
      margin: 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      @media ($phone) {
        flex-direction: column;
        align-items: initial;
      }
      .date_installation,
      .date_change{
        font-size: 1.4rem;
        line-height: 2rem;
        width: 50%;
        box-sizing: border-box;
        div:first-child{
          padding: 0 10px;
        }
        .date{
          font-size: 1.8rem;
          border-radius: 40px;
          padding: 10px 30px;
          background-color: white;
          text-align: center;
          margin-top: 1rem;
          width: 100%;
          box-sizing: border-box;
        }
        @media ($phone) {
          width: 100%;
          padding: 0 !important;
          text-align: center !important;
          &:first-child{
            margin-bottom: 10px;
          }
        }
      }

      .date_installation{
        padding-right: 15px;
      }
      .date_change{
        padding-left: 15px;
        text-align: right;
      }
    }
    .note{
      div{}
      p{
        background-color: white;
        padding: 15px;
        font-size: 1.4rem;
        line-height: 1.8rem;
        text-align: justify;
      }
    }
  }

  .lead_status{
    width: 230px;
    background-color: $gray;
    box-sizing: border-box;
    padding: 30px 15px;
    @media ($phone) {
      width: 100%;
    }
    .title{
      font-weight: bold;
      font-size: 1.8rem;
      text-align: center;
      margin-bottom: 1.2rem;
    }
    .status_item{
      font-size: 1.6rem;
      line-height: 2rem;
      margin-bottom: 0.5rem;
      span{
        margin-right: 1rem;
      }
    }
  }

}