/*for tag body*/
.fix_overflow{
  overflow: hidden;
}

.mobile_menu{
  display: block;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.4s ease-out 0.1s;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  .menu_sidebar{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 280px;
    position: absolute;
    top: 0;
    left: -280px;
    transition: left 0.4s ease-out 0.1s;
    >*{
      padding: 30px;
    }
    .links{

      a{
        display: block;
        font-size: 2.4rem;
        line-height: 2.6rem;
        font-weight: bold;
        margin-bottom: 20px;
      }
    }
    .info{
      >*{
        font-size: 2.2rem;
        line-height: 2.4rem;
        margin-bottom: 20px;
      }
    }
  }

  &.active{
    display: block;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    .menu_sidebar{
      left: 0;
    }
  }
}
