.service_tile{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 30px 0 15px;
  @media ($phone) {
    margin: 15px 0;
  }
  .tile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255,255,255,1);
    width: 360px;
    height: 150px;
    box-sizing: border-box;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: all 0.3s ease-out 0s;
    &:hover{
      background-color: $yellow_rgba;
    }
    @media ($tablet) {
      width: 346px;
      height: 120px;
    }
    @media ($phone) {
      height: 100px;
    }
    .tile_img{
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain;
      height: 100%;
      width: 60px;
    }
    .tile_title{
      display: inline-block;
      width: calc(100% - 60px);
      font-size: 1.6rem;
      line-height: 1.8rem;
      font-weight: bold;
      text-align: center;
      box-sizing: border-box;
      padding: 0 30px;
      color: #000 !important;
      @media ($tablet) {
        font-size: 1.8rem;
        line-height: 2rem;
      }
    }
  }
}
.services_detail{
  display: flex;
  justify-content: space-between;
  @media ($tablet) {
    flex-direction: column-reverse;
  }
  .left_part{
    @extend %common_part;
    width: calc(100% - 400px);
    box-sizing: border-box;
    padding-right: 30px;
    @media ($tablet) {
      padding-right: 0;
    }
    >p{
      font-size: 1.8rem;
      line-height: 2.2rem;
      margin-bottom: 2rem;
      text-align: justify ;
    }
  }
  .right_part{
    @extend %common_part;
    width: 400px;
    @media ($tablet){
      padding-bottom: 3rem;
      width: 100%;
    }
    .demo{
      width: 100%;
      height: 400px;
      @media ($phone){
        height: 290px;
      }
    }
  }
  %common_part{
    @media ($tablet) {
      width: 100%;
    }
  }
}