.slider{

  .slider_window{
  overflow: hidden;
    position: relative;
    .slider_carousel{
      position: relative;
      left: 0;
      transition: all 0.5s ease-out;
      .slider_item{
        float: left;
        .slider_content{
          width: $width_computer;
          box-sizing: border-box;
          padding: 30px;
          margin: 0 auto;
          @media ($tablet) {
            width: $width_tablet;
          }
          @media ($phone) {
            width: $width_phone;
            padding: 15px;
          }
        }
      }

      .slide_1{
        .slider_content{
          display: flex;
          @media ($tablet) {
            flex-direction: column;
          }
        }
        %left_and_right{
          width: 50%;
          @media ($tablet) {
            width: 100%;
          }
        }
        .left_part{
          @extend %left_and_right;
          box-sizing: border-box;
          padding: 50px 50px 0 70px;
          @media ($tablet) {
            padding:20px 0 0 0;
          }
        }
        .right_part{
          @extend %left_and_right;
          text-align: end;
          img{
            @media ($tablet) {
              max-width: 350px;
            }
            @media ($phone) {
              max-width: 100%;
            }
          }
        }
        .button{
          margin-top: 40px;
          @media ($tablet) {
            margin-top: 0;
          }
        }
      }
      .slide_2{
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
  .slider_controller{
    padding:  10px 0;
    display: flex;
    justify-content: center;
    .slide_link{
      background-color: $gray3;
      height: 10px;
      width: 10px;
      border-radius: 50px;
      margin-right: 1.5rem;
      cursor: pointer;
      &:last-child{
        margin-right: 0;
      }
    }
    .slide_link.active{
      background-color: $yellow;
    }
  }
}