$text: "Century Gothic";
$yellow: #ffed00;
$yellow_rgba_hide: rgba(255,237,0,0);
$yellow_rgba: rgba(255,237,0,1);
$yellow2: #fff9a6;
$gray: #bfbebe;
$gray2: #f7f7f7;
$gray3: #7c7c7c;
$black: #000;
$computer: "min-width:1200px";
$tablet: "max-width: 1199px";
$phone: "max-width:768px";
$width_computer: 1170px;
$width_tablet: 767px;
$width_phone: 320px;


@import "reset";
@import "../fonts/stylesheet.css";

%before_vertical_middle{
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

html{
  font-size: 10px;
  @media ($phone) {
    font-size: 8px;
  }
}
body{
  width: 100%;
  font-family: $text;
  font-weight: normal;
}
a:hover{
  color:$gray3;
}
.full_section{
  width: 100%;
  height: 100%;
  .container_section{
    margin: 0 auto;
    box-sizing: border-box;
    width: $width_computer;
    padding: 30px;
    height: 100%;
    @media ($tablet) {
      width: $width_tablet;
    }
    @media ($phone) {
      width: $width_phone;
      padding: 15px;
    }
  }
}
@keyframes swing{
  25%{ transform: rotateZ(-1deg)}
  75%{ transform: rotateZ(1deg)}

}
.button{
  background-color: $yellow;
  font-family: $text;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.78rem;
  cursor: pointer;
  padding: 10px 30px;
  display: inline-block;
  border: none;
  color: #000000 !important;
  &:hover{
    animation: swing 0.5s linear infinite;
  }
}
.bg_yellow_2{
  background-color: $yellow2;
}
.bg_gray_1{
  background-color: $gray;
}
.bg_gray_2{
  background-color: $gray2;
}
.font_bold{
  font-weight: bold;
}
.font_center{
  text-align: center;
}
%headline_style{
  display: block;
  text-transform: uppercase;
}
h1,
.h1{
  @extend %headline_style;
  font-size: 2.6rem;
  line-height: 2.8rem;
}
.h1_bottom_margin{
  margin-bottom: 2.4rem;
}
.h2{
  @extend %headline_style;
  font-size: 2.2rem;
  line-height: 2.4rem;
}
.h2_bottom_margin{
  margin-bottom: 2rem;
}
.h3{
  @extend %headline_style;
  font-size: 1.8rem;
  line-height: 2rem;
}
.h3_bottom_margin{
  margin-bottom: 1.6rem;
}
.site_route{
  margin-bottom: 20px;
  a,
  span{
    font-size: 1.2rem;
    margin-right: 10px;
    color: $gray3;
  }
  a{
    &::after{
      content: '>';
      margin-left: 10px;
    }
  }
}
.initial_height{
  height: initial !important;
}



@import "header";
@import "footer";
@import "mobile-menu";
@import "slider";




/*Отдельные описания всего подряд #неумеюписатькоменты*/

%yellow2_box{
  background-color: $yellow2;
  padding: 30px 60px;
  box-sizing: border-box;
  margin:30px auto 30px auto;
  width: 800px;
  @media ($tablet) {
    width: 500px;
    text-align: center;
  }
  @media ($phone) {
    width: 100%;
    padding: 15px ;
  }
}

.request_box{
  @extend %yellow2_box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media ($tablet) {
    flex-direction: column;
  }
  .title{
    width: 150%;
    padding-right: 30px;

    @media ($tablet) {
      width: 100%;
      padding-right: 0;
    }
    p{
      font-size: 1.8rem;
      line-height: 2rem;
    }
  }
  form{
    box-sizing: border-box;
    padding-left: 30px;
    width: 100%;
    @media ($tablet) {
      padding: 30px 0 0 0;
    }
    input,
    label{
      width: 100%;
      padding: 5px 20px;
      box-sizing: border-box;
      border-radius: 40px;
      font-size: 1.6rem;
      line-height: 1.8rem;
      margin-bottom: 15px;
      background-color: #ffffff;
      display: inline-block;
      @media ($tablet) {
        font-size: 1.8rem;
        border-radius: 40px;
        padding: 10px 30px;
      }
    }
    input[type=file]{
      display: none;
    }
    button{
      float: right;
      @media ($tablet) {
        width: 100%;
        float: none;
      }
    }
  }
}



@import "blog";
@import "contacts";
@import "services";
@import "lead";
@import "catalog";