@charset "UTF-8";
@import url(../fonts/stylesheet.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  outline: none;
  border: none; }

a {
  text-decoration: none;
  color: black; }

button {
  outline: none; }

html {
  font-size: 10px; }
  @media (max-width: 768px) {
    html {
      font-size: 8px; } }

body {
  width: 100%;
  font-family: "Century Gothic";
  font-weight: normal; }

a:hover {
  color: #7c7c7c; }

.full_section {
  width: 100%;
  height: 100%; }
  .full_section .container_section {
    margin: 0 auto;
    box-sizing: border-box;
    width: 1170px;
    padding: 30px;
    height: 100%; }
    @media (max-width: 1199px) {
      .full_section .container_section {
        width: 767px; } }
    @media (max-width: 768px) {
      .full_section .container_section {
        width: 320px;
        padding: 15px; } }

@keyframes swing {
  25% {
    transform: rotateZ(-1deg); }
  75% {
    transform: rotateZ(1deg); } }
.button {
  background-color: #ffed00;
  font-family: "Century Gothic";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.78rem;
  cursor: pointer;
  padding: 10px 30px;
  display: inline-block;
  border: none;
  color: #000000 !important; }
  .button:hover {
    animation: swing 0.5s linear infinite; }

.bg_yellow_2 {
  background-color: #fff9a6; }

.bg_gray_1 {
  background-color: #bfbebe; }

.bg_gray_2 {
  background-color: #f7f7f7; }

.font_bold {
  font-weight: bold; }

.font_center {
  text-align: center; }

h1,
.h1, .h2, .h3 {
  display: block;
  text-transform: uppercase; }

h1,
.h1 {
  font-size: 2.6rem;
  line-height: 2.8rem; }

.h1_bottom_margin {
  margin-bottom: 2.4rem; }

.h2 {
  font-size: 2.2rem;
  line-height: 2.4rem; }

.h2_bottom_margin {
  margin-bottom: 2rem; }

.h3 {
  font-size: 1.8rem;
  line-height: 2rem; }

.h3_bottom_margin {
  margin-bottom: 1.6rem; }

.site_route {
  margin-bottom: 20px; }
  .site_route a,
  .site_route span {
    font-size: 1.2rem;
    margin-right: 10px;
    color: #7c7c7c; }
  .site_route a::after {
    content: '>';
    margin-left: 10px; }

.initial_height {
  height: initial !important; }

header {
  background-color: #f7f7f7;
  height: 80px; }
  header .container_section {
    display: flex;
    justify-content: space-between;
    padding: 0 !important;
    position: relative; }
    @media (max-width: 1199px) {
      header .container_section {
        justify-content: center; } }
  @media (max-width: 1199px) {
    header {
      height: 60px; } }
  header .logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    height: 100%;
    display: inline-block;
    width: 100px; }
    @media (max-width: 1199px) {
      header .logo {
        width: 80px; } }
  header menu {
    display: inline-block;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%; }
    header menu li {
      display: flex;
      align-items: center;
      font-family: "Century Gothic";
      font-weight: bold;
      font-size: 1.6rem;
      background-color: rgba(255, 237, 0, 0);
      transition: all 0.3s ease-out 0s;
      height: 100%; }
      header menu li:hover {
        background-color: #ffed00; }
      header menu li a {
        width: 100%;
        padding: 30px 20px;
        color: #000000 !important; }
    @media (max-width: 1199px) {
      header menu {
        display: none; } }
  header .search {
    display: flex;
    align-items: center;
    position: relative; }
    header .search a {
      display: inline-block;
      background-image: url(../images/search_ico.png);
      background-repeat: no-repeat;
      background-position: 50%;
      width: 35px;
      height: 35px;
      background-size: contain; }
    header .search .input_search_area {
      position: absolute;
      right: 100%;
      height: 100%;
      background-color: #fff9a6;
      box-sizing: border-box;
      padding: 20px 0px;
      width: 0;
      overflow: hidden;
      transition: all 0.3s ease-out; }
      header .search .input_search_area.show {
        width: 838px;
        padding: 20px 30px; }
      header .search .input_search_area input {
        width: 100%;
        font-size: 1.8rem;
        padding: 10px 20px;
        box-sizing: border-box;
        position: relative; }
    @media (max-width: 1199px) {
      header .search {
        display: none; } }
  header .phone {
    display: flex;
    align-items: center; }
    header .phone span {
      font-family: "Century Gothic";
      font-weight: bold;
      font-size: 1.6rem; }
    @media (max-width: 1199px) {
      header .phone {
        display: none; } }
  header .mobi_menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 30px;
    height: 100%;
    box-sizing: border-box;
    padding: 18px 0;
    cursor: pointer; }
    @media (max-width: 768px) {
      header .mobi_menu {
        left: 15px; } }
    header .mobi_menu span {
      display: inline-block;
      background-color: #000;
      height: 4px;
      width: 30px;
      border-radius: 4px; }
    @media (max-width: 1199px) {
      header .mobi_menu {
        display: flex; } }

footer .menu {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 1199px) {
    footer .menu {
      justify-content: flex-start; } }
  @media (max-width: 1199px) {
    footer .menu .mobi {
      width: initial !important; } }
footer .sub_menu {
  display: flex;
  justify-content: space-between; }
  footer .sub_menu .services a {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: 10px;
    position: relative; }
    footer .sub_menu .services a::before {
      content: '';
      display: inline-block;
      background-color: #000;
      position: absolute;
      left: 0;
      bottom: 0px;
      height: 1px;
      width: 0%;
      transition: all 0.2s ease-out; }
    footer .sub_menu .services a:hover::before {
      width: 100%; }
  footer .sub_menu .contacts a,
  footer .sub_menu .contacts p {
    font-size: 1.4rem;
    margin-bottom: 10px;
    display: block; }
@media (max-width: 1199px) {
  footer .mobi {
    display: inline-block !important;
    width: 100% !important; } }

footer .menu > div, footer .sub_menu div {
  width: 25%;
  box-sizing: border-box;
  padding-right: 30px; }
  @media (max-width: 1199px) {
    footer .menu > div, footer .sub_menu div {
      display: none; } }

/*for tag body*/
.fix_overflow {
  overflow: hidden; }

.mobile_menu {
  display: block;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.4s ease-out 0.1s;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%; }
  .mobile_menu .menu_sidebar {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 280px;
    position: absolute;
    top: 0;
    left: -280px;
    transition: left 0.4s ease-out 0.1s; }
    .mobile_menu .menu_sidebar > * {
      padding: 30px; }
    .mobile_menu .menu_sidebar .links a {
      display: block;
      font-size: 2.4rem;
      line-height: 2.6rem;
      font-weight: bold;
      margin-bottom: 20px; }
    .mobile_menu .menu_sidebar .info > * {
      font-size: 2.2rem;
      line-height: 2.4rem;
      margin-bottom: 20px; }
  .mobile_menu.active {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%; }
    .mobile_menu.active .menu_sidebar {
      left: 0; }

.slider .slider_window {
  overflow: hidden;
  position: relative; }
  .slider .slider_window .slider_carousel {
    position: relative;
    left: 0;
    transition: all 0.5s ease-out; }
    .slider .slider_window .slider_carousel .slider_item {
      float: left; }
      .slider .slider_window .slider_carousel .slider_item .slider_content {
        width: 1170px;
        box-sizing: border-box;
        padding: 30px;
        margin: 0 auto; }
        @media (max-width: 1199px) {
          .slider .slider_window .slider_carousel .slider_item .slider_content {
            width: 767px; } }
        @media (max-width: 768px) {
          .slider .slider_window .slider_carousel .slider_item .slider_content {
            width: 320px;
            padding: 15px; } }
    .slider .slider_window .slider_carousel .slide_1 .slider_content {
      display: flex; }
      @media (max-width: 1199px) {
        .slider .slider_window .slider_carousel .slide_1 .slider_content {
          flex-direction: column; } }
    .slider .slider_window .slider_carousel .slide_1 .left_part, .slider .slider_window .slider_carousel .slide_1 .right_part {
      width: 50%; }
      @media (max-width: 1199px) {
        .slider .slider_window .slider_carousel .slide_1 .left_part, .slider .slider_window .slider_carousel .slide_1 .right_part {
          width: 100%; } }
    .slider .slider_window .slider_carousel .slide_1 .left_part {
      box-sizing: border-box;
      padding: 50px 50px 0 70px; }
      @media (max-width: 1199px) {
        .slider .slider_window .slider_carousel .slide_1 .left_part {
          padding: 20px 0 0 0; } }
    .slider .slider_window .slider_carousel .slide_1 .right_part {
      text-align: end; }
      @media (max-width: 1199px) {
        .slider .slider_window .slider_carousel .slide_1 .right_part img {
          max-width: 350px; } }
      @media (max-width: 768px) {
        .slider .slider_window .slider_carousel .slide_1 .right_part img {
          max-width: 100%; } }
    .slider .slider_window .slider_carousel .slide_1 .button {
      margin-top: 40px; }
      @media (max-width: 1199px) {
        .slider .slider_window .slider_carousel .slide_1 .button {
          margin-top: 0; } }
    .slider .slider_window .slider_carousel .slide_2 {
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover; }
.slider .slider_controller {
  padding: 10px 0;
  display: flex;
  justify-content: center; }
  .slider .slider_controller .slide_link {
    background-color: #7c7c7c;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    margin-right: 1.5rem;
    cursor: pointer; }
    .slider .slider_controller .slide_link:last-child {
      margin-right: 0; }
  .slider .slider_controller .slide_link.active {
    background-color: #ffed00; }

/*╨Ю╤В╨┤╨╡╨╗╤М╨╜╤Л╨╡ ╨╛╨┐╨╕╤Б╨░╨╜╨╕╤П ╨▓╤Б╨╡╨│╨╛ ╨┐╨╛╨┤╤А╤П╨┤ #╨╜╨╡╤Г╨╝╨╡╤О╨┐╨╕╤Б╨░╤В╤М╨║╨╛╨╝╨╡╨╜╤В╤Л*/
.request_box, .track_box, .lead_box {
  background-color: #fff9a6;
  padding: 30px 60px;
  box-sizing: border-box;
  margin: 30px auto 30px auto;
  width: 800px; }
  @media (max-width: 1199px) {
    .request_box, .track_box, .lead_box {
      width: 500px;
      text-align: center; } }
  @media (max-width: 768px) {
    .request_box, .track_box, .lead_box {
      width: 100%;
      padding: 15px; } }

.request_box {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 1199px) {
    .request_box {
      flex-direction: column; } }
  .request_box .title {
    width: 150%;
    padding-right: 30px; }
    @media (max-width: 1199px) {
      .request_box .title {
        width: 100%;
        padding-right: 0; } }
    .request_box .title p {
      font-size: 1.8rem;
      line-height: 2rem; }
  .request_box form {
    box-sizing: border-box;
    padding-left: 30px;
    width: 100%; }
    @media (max-width: 1199px) {
      .request_box form {
        padding: 30px 0 0 0; } }
    .request_box form input,
    .request_box form label {
      width: 100%;
      padding: 5px 20px;
      box-sizing: border-box;
      border-radius: 40px;
      font-size: 1.6rem;
      line-height: 1.8rem;
      margin-bottom: 15px;
      background-color: #ffffff;
      display: inline-block; }
      @media (max-width: 1199px) {
        .request_box form input,
        .request_box form label {
          font-size: 1.8rem;
          border-radius: 40px;
          padding: 10px 30px; } }
    .request_box form input[type=file] {
      display: none; }
    .request_box form button {
      float: right; }
      @media (max-width: 1199px) {
        .request_box form button {
          width: 100%;
          float: none; } }

.blog_list {
  margin-top: 30px; }
  .blog_list .blog_item {
    float: left;
    width: 350px;
    margin-left: 30px;
    margin-bottom: 30px; }
    @media (min-width: 1200px) {
      .blog_list .blog_item:nth-child(3n+1) {
        clear: both;
        margin-left: 0; } }
    @media (max-width: 1199px) {
      .blog_list .blog_item {
        width: 339px; }
        .blog_list .blog_item:nth-child(2n+1) {
          clear: both;
          margin-left: 0; } }
    @media (max-width: 768px) {
      .blog_list .blog_item {
        width: 100%;
        clear: both;
        margin-left: 0; } }
    .blog_list .blog_item:hover .image {
      transform: scale(1.1); }
    .blog_list .blog_item .image {
      display: block;
      max-width: 100%;
      height: 250px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
      margin-bottom: 20px;
      transition: all 0.3s ease-out 0s; }
      @media (max-width: 768px) {
        .blog_list .blog_item .image {
          height: 180px; } }
    .blog_list .blog_item .title {
      display: block;
      margin-bottom: 10px; }
  .blog_list .clear {
    display: block;
    clear: both; }

.blog_date {
  display: block;
  font-size: 1rem;
  color: #7c7c7c; }

.blog_detail {
  margin-top: 3rem; }
  .blog_detail img {
    max-width: 300px;
    max-height: 200px;
    float: left;
    margin: 0 20px 20px 0; }
    @media (max-width: 768px) {
      .blog_detail img {
        max-width: 100%;
        margin: 0 0 20px 0; } }
  .blog_detail p {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-bottom: 10px;
    text-align: justify; }

.contacts_list > div {
  float: left; }
.contacts_list::after {
  content: '';
  display: block;
  clear: both; }
.contacts_list .main_contacts, .contacts_list > .contact_hot_line {
  max-width: 50%;
  padding-right: 30px;
  box-sizing: border-box; }
  @media (max-width: 1199px) {
    .contacts_list .main_contacts, .contacts_list > .contact_hot_line {
      max-width: 100%;
      padding-right: 0; } }
.contacts_list .main_contacts p {
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-bottom: 2rem; }
.contacts_list > .map {
  float: right; }
  @media (max-width: 1199px) {
    .contacts_list > .map {
      width: 100%;
      margin-bottom: 3rem; } }
  .contacts_list > .map > .map_image {
    background-color: #333333;
    height: 400px;
    width: 500px; }
    @media (max-width: 1199px) {
      .contacts_list > .map > .map_image {
        width: 100%; } }
    @media (max-width: 768px) {
      .contacts_list > .map > .map_image {
        height: 290px; } }
.contacts_list > .contact_hot_line p {
  font-size: 1.2rem;
  line-height: 1.6rem; }

.service_tile {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 30px 0 15px; }
  @media (max-width: 768px) {
    .service_tile {
      margin: 15px 0; } }
  .service_tile .tile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 360px;
    height: 150px;
    box-sizing: border-box;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: all 0.3s ease-out 0s; }
    .service_tile .tile:hover {
      background-color: #ffed00; }
    @media (max-width: 1199px) {
      .service_tile .tile {
        width: 346px;
        height: 120px; } }
    @media (max-width: 768px) {
      .service_tile .tile {
        height: 100px; } }
    .service_tile .tile .tile_img {
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain;
      height: 100%;
      width: 60px; }
    .service_tile .tile .tile_title {
      display: inline-block;
      width: calc(100% - 60px);
      font-size: 1.6rem;
      line-height: 1.8rem;
      font-weight: bold;
      text-align: center;
      box-sizing: border-box;
      padding: 0 30px;
      color: #000 !important; }
      @media (max-width: 1199px) {
        .service_tile .tile .tile_title {
          font-size: 1.8rem;
          line-height: 2rem; } }

.services_detail {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 1199px) {
    .services_detail {
      flex-direction: column-reverse; } }
  .services_detail .left_part {
    width: calc(100% - 400px);
    box-sizing: border-box;
    padding-right: 30px; }
    @media (max-width: 1199px) {
      .services_detail .left_part {
        padding-right: 0; } }
    .services_detail .left_part > p {
      font-size: 1.8rem;
      line-height: 2.2rem;
      margin-bottom: 2rem;
      text-align: justify; }
  .services_detail .right_part {
    width: 400px; }
    @media (max-width: 1199px) {
      .services_detail .right_part {
        padding-bottom: 3rem;
        width: 100%; } }
    .services_detail .right_part .demo {
      width: 100%;
      height: 400px; }
      @media (max-width: 768px) {
        .services_detail .right_part .demo {
          height: 290px; } }
  @media (max-width: 1199px) {
    .services_detail .left_part, .services_detail .right_part {
      width: 100%; } }

.track_box form {
  margin-top: 15px;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 1199px) {
    .track_box form {
      flex-direction: column; } }
  .track_box form input {
    width: 400px;
    font-size: 1.8rem;
    border-radius: 40px;
    padding: 10px 30px;
    box-sizing: border-box; }
    @media (max-width: 1199px) {
      .track_box form input {
        width: 100%;
        margin-bottom: 15px; } }

.lead_box {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 1000px; }
  @media (max-width: 1199px) {
    .lead_box {
      width: 100%; } }
  @media (max-width: 768px) {
    .lead_box {
      flex-direction: column; } }
  .lead_box .lead_info {
    width: calc(100% - 230px);
    box-sizing: border-box;
    padding: 30px; }
    @media (max-width: 768px) {
      .lead_box .lead_info {
        width: 100%;
        padding: 15px; } }
    .lead_box .lead_info .title {
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1rem; }
    .lead_box .lead_info .lead_number {
      font-size: 1.8rem;
      border-radius: 40px;
      padding: 10px 30px;
      background-color: white;
      margin: 0 50px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold; }
      @media (max-width: 768px) {
        .lead_box .lead_info .lead_number {
          margin: 0; } }
    .lead_box .lead_info .order {
      text-align: center;
      font-size: 1.2rem;
      line-height: 1.8rem; }
    .lead_box .lead_info .dates {
      margin: 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-end; }
      @media (max-width: 768px) {
        .lead_box .lead_info .dates {
          flex-direction: column;
          align-items: initial; } }
      .lead_box .lead_info .dates .date_installation,
      .lead_box .lead_info .dates .date_change {
        font-size: 1.4rem;
        line-height: 2rem;
        width: 50%;
        box-sizing: border-box; }
        .lead_box .lead_info .dates .date_installation div:first-child,
        .lead_box .lead_info .dates .date_change div:first-child {
          padding: 0 10px; }
        .lead_box .lead_info .dates .date_installation .date,
        .lead_box .lead_info .dates .date_change .date {
          font-size: 1.8rem;
          border-radius: 40px;
          padding: 10px 30px;
          background-color: white;
          text-align: center;
          margin-top: 1rem;
          width: 100%;
          box-sizing: border-box; }
        @media (max-width: 768px) {
          .lead_box .lead_info .dates .date_installation,
          .lead_box .lead_info .dates .date_change {
            width: 100%;
            padding: 0 !important;
            text-align: center !important; }
            .lead_box .lead_info .dates .date_installation:first-child,
            .lead_box .lead_info .dates .date_change:first-child {
              margin-bottom: 10px; } }
      .lead_box .lead_info .dates .date_installation {
        padding-right: 15px; }
      .lead_box .lead_info .dates .date_change {
        padding-left: 15px;
        text-align: right; }
    .lead_box .lead_info .note p {
      background-color: white;
      padding: 15px;
      font-size: 1.4rem;
      line-height: 1.8rem;
      text-align: justify; }
  .lead_box .lead_status {
    width: 230px;
    background-color: #bfbebe;
    box-sizing: border-box;
    padding: 30px 15px; }
    @media (max-width: 768px) {
      .lead_box .lead_status {
        width: 100%; } }
    .lead_box .lead_status .title {
      font-weight: bold;
      font-size: 1.8rem;
      text-align: center;
      margin-bottom: 1.2rem; }
    .lead_box .lead_status .status_item {
      font-size: 1.6rem;
      line-height: 2rem;
      margin-bottom: 0.5rem; }
      .lead_box .lead_status .status_item span {
        margin-right: 1rem; }

.catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }
  .catalog .right_part,
  .catalog .left_part {
    width: 50%;
    box-sizing: border-box; }
    @media (max-width: 1199px) {
      .catalog .right_part,
      .catalog .left_part {
        width: 100%; } }
  .catalog .left_part {
    padding-right: 30px; }
    .catalog .left_part .sub_title {
      font-size: 1.8rem;
      line-height: 2.2rem;
      margin-bottom: 3rem; }
  .catalog .right_part {
    padding-left: 30px; }
    @media (max-width: 1199px) {
      .catalog .right_part {
        display: none; } }

/*# sourceMappingURL=style.css.map */
