@keyframes yaga {
    50%{left: 1000px}
    100%{left: 0px}
}
.yaga{
    position: fixed;
    background-image: url("yaga.gif");
    background-repeat: no-repeat;
    background-position: 50%;
    height: 300px;
    width: 300px;
    background-size: contain;
    left: 0px;
    top: 0;
    animation: yaga 3s linear infinite;
}